.AllEvents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .AllEvents {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
