.EventDetails {
  margin: 1vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstColumn {
  padding: 6%;
}

.EventDetailsImg {
  max-width: 100%;
}

.eventDetailsH2 {
  font-size: 10vw;
  margin: 2.5vh;
}

.eventDetailsH4 {
  margin: 5% 0 10% 0;
  font-size: 4vw;
}

.EventDetailsP {
  margin-bottom: 10vw;
  font-weight: lighter;
  font-size: 3vw;
}

.blueButton {
  padding: 4% 7%;
  font-size: 4vw;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: rgb(0, 191, 255);
  border: solid 1px transparent;
  margin: 0 24%;
}

.eventDetailH4 {
  font-size: 3vw;
  margin-bottom: 6%;
}

.blueButton:hover {
  border: 1px solid white;
  box-shadow: 3px 3px 8px -3px white;
  color: black;
}

.secondColumn {
  padding: 0 6%;
  text-align: center;
}

.transparentBtn {
  padding: 4% 10%;
  font-size: 4vw;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: solid 1px white;
}

.btnClicked {
  padding: 4% 10%;
  font-size: 4vw;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: rgb(0, 191, 255);
  border: solid 1px transparent;
}

.textRides {
  margin: 10% 0;
  font-size: 4vw;
}

.offerRideBtn {
  padding: 4% 10%;
  font-size: 4vw;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: rgb(0, 191, 255);
  border: solid 1px transparent;
}

.offerRideBtn:hover {
  border: 1px solid white;
  box-shadow: 3px 3px 8px -3px white;
  color: black;
}

.transparentBtn:hover {
  border: 1px solid white;
  box-shadow: 3px 3px 8px -3px white;
}

.backLink {
  border: none;
  margin-top: 5vh;
  text-decoration: underline;
  text-underline-offset: 8px;
  background-color: transparent;
  color: white;
  font-size: larger;
  font-weight: lighter;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .EventDetails {
    margin: 1vh 3vw;
  }

  .firstColumn {
    padding: 0;
    text-align: center;
  }

  .secondColumn {
    padding: 0;
    text-align: center;
  }

  .blueButton {
    padding: 3% 5%;
    font-size: 3vw;
  }

  .transparentBtn {
    padding: 3% 5%;
    font-size: 3vw;
    margin-top: 8%;
  }
  
  .btnClicked {
    padding: 3% 5%;
    font-size: 3vw;
    margin-top: 8%;
  }

  .offerRideBtn {
    padding: 3% 5%;
    font-size: 3vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .blueButton {
    font-size: 2vw;
  }

  .transparentBtn {
    font-size: 1vw;
  }

  .btnClicked {
    font-size: 2vw;
  }
}
