.EventDetails {
  margin: 1vh 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.firstColumn {
  border-right: solid white 1px;
  padding: 0 8% 0 2%;
  width: 40vw;
  text-align: center;
}

.EventDetailsImg {
  max-width: 100%;
}

.eventDetailsH2 {
  font-size: 4vw;
  margin: 2vh;
}

.EventDetailsP {
    margin-bottom: 3vw;
    font-weight: lighter;
}

.buttonsGoPost {

}

.blueButton {
  padding: 4% 10%;
  font-size: 1.2vw;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: rgb(0, 191, 255);
  border: solid 1px transparent;
}

.blueButton:hover {
    border: 1px solid white;
    box-shadow: 3px 3px 8px -3px white;
    color: black;
} 

.secondColumn {
    padding: 5vh 0 0 8vw;
    width: 40vw;
}

.textRides {
    margin: 15% 0;
}

.offerRideBtn {
  padding: 4% 10%;
  font-size: 1.2vw;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: rgb(0, 191, 255);
  border: solid 1px transparent;
}

.offerRideBtn:hover {
  border: 1px solid white;
  box-shadow: 3px 3px 8px -3px white;
  color: black;
}

.transparentBtn {
  padding: 4% 10%;
  font-size: 1.2vw;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: solid 1px white;
  margin-bottom: 2vh;
}

.transparentBtn:hover {
  border: 1px solid white;
  box-shadow: 3px 3px 8px -3px white;
}

.backLink {
  border: none;
  margin-top: 5vh;
  text-decoration: underline;
  text-underline-offset: 8px;
  background-color: transparent;
  color: white;
  font-size: larger;
  font-weight: lighter;
}

.eventDetailsH4 {
  margin: 2vh 0 8vh 0;
  font-size: 1.5vw;
}