.Homepage {
  width: 100vw;
}

.text,
.slideDown,
.slideUp {
  position: relative;
  font-family: tahoma;
  font-size: 25px;
  opacity: 0;
}

.text {
  top: 40px;
  font-weight: lighter;
  animation: slideUp ease 0.4s forwards;
}

.slideDown {
  top: -40px;
  left: 5px;
  animation: slideDown ease 0.4s forwards 0.6s;
  color: rgb(0,191,255);
  margin-bottom: 4px;
}

.slideUp {
  top: 40px;
  left: 10px;
  animation: slideUp ease 0.5s forwards 1.2s;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
    opacity: 1;
  }
}

.slide-effect,
.text,
.slideDown,
.slideUp {
  font-size: 15px;
}

div.slide-effect {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  div.slide-effect {
    margin: 0;
  }
}

.videos {
  margin: 0 4% 4% 4%;
  max-width: 85vw;
  height: auto;
  text-align: center;
}

.FtTitle {
  margin: 4% 0 2% 8%;
  font-weight: lighter;
}

.link {
  margin: 4% 0 2% 8%;
  color: white;
  font-size: 1.5vw;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.link:hover {
  color: rgb(0,191,255);
}

.parag {
  margin: 0 0 0 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .videosSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide-effect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FtTitle {
    margin: 6%;
  }

  .parag {
    margin: 5% 7%;
  }

  .link {
    font-size: 18px;
    margin: 12% 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Homepage {
    display: flex;
    align-items: center;
  }

  .slide-effect {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    align-items: center;
    margin: 12% 0;
  }

  .FtTitle {
    margin: 7%;
  }

  .videosSection {
    text-align: center;
  }

  .link {
    font-size: 22px;
    margin: 8% 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
.slide-effect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
font-size: 22px;
}

.slideDown {
font-size: 22px;
}

.FtTitle {
  margin: 4% 5%;
}

.parag {
  margin: 2% 7%;
}

.link {
  font-size: 22px;
  margin: 6% 3%;
}
}