.SignupPage {
    font-size: 1em;
    border: solid 1px white;
    width: 80vw;
    border-radius: 5%;
    text-align: center;
    padding: 4% 2% 4% 2%;
    margin-bottom: 36%;
    box-shadow: 5px 5px 10px -5px white;
}

.SignupPage form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignupPage input {
    width: 20vw;
    border: none;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 63px;
    background: #c7d2d6;
    box-shadow: inset 8px 8px 29px #939b9e,
                inset -8px -8px 29px #fbffff;
}