.profileHeader {
  text-align: center;
}

.accordion {
  background-color: #25262d;
  margin: 5% 0;
}

.cardsProfile {
  max-width: 25vw;
  font-size: smaller;
  color: white;
  margin: 2%;
}

.accordion-body {
  background-color: #25262d;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.accordionHeader {
  background-color: rgb(0, 191, 255);
}

.accordion-collapse collapse {
  background-color: #25262d;
}

.cardsProfile {
  border: solid white 1px;
  max-width: 30%;
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  text-align: center;
  color: white;
  box-shadow: 5px 5px 10px -5px white;
}

.cardsProfileH4 {
  font-size: 170%;
  font-weight: bolder;
}

.cardsProfileH6 {
  font-size: small;
}

.cardsProfileP {
  border: solid rgb(0, 191, 255) 1px;
  padding: 4%;
  margin: 6% 0;
  border-radius: 5px;
  font-size: 1.2em;
}

.eventCardProfileImg {
  width: 80%;
}

.eventCardProfileTitle {
  font-size: 2vw;
  margin-top: 1vh;
}

.eventCardProfileInfo {
  font-size: 1.5vw;
}