.EventCard {
  border: solid white 1px;
  max-width: 80%;
  height: auto;
  margin: 2% ;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.EventCard:hover {
  border: 1px solid rgb(0, 191, 255);
  box-shadow: 5px 5px 10px -5px;
  color: rgb(0, 191, 255);
  transition: 0.4s;
  cursor: pointer;
}

.eventCardTitle {
  color: white;
  text-decoration: none;
  margin: 5% 0;
}

.eventCardInfo {
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.EventCard img {
  max-width: 100%;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .EventCard {
    border: solid white 1px;
    max-width: 40vw;
    margin: 2%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .EventCard:hover {
    border: 1px solid rgb(0, 191, 255);
    box-shadow: 5px 5px 10px -5px;
    color: rgb(0, 191, 255);
    transition: 0.4s;
    cursor: pointer;
  }

  .eventCardTitle {
    padding: 8% 0;
    color: white;
    text-decoration: none;
  }

  .EventCard img {
    max-width: 100%;
    max-height: min-content;
    border-radius: 5px;
  }

  .eventCardInfo {
    color: white;
    text-decoration: none;
  }
}
