.sendMessage {
  max-width: 80%;
  margin-bottom: 8%;
}

.messageForm {
  display: flex;
  justify-content: center;
}

.tripCardEventDetails {
  border: solid white 0.5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px -5px white;
  width: 80vw;
  margin: 0 0 0 4%;
}

.tripCardEventDetailsP {
  font-size: 90%;
}

.editBtn {
  border: solid transparent 0.5px;
  margin: 2% 0 10% 0;
  padding: 3px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: rgb(0, 191, 255);
}

.editBtn:hover {
  border: 1px solid white;
  box-shadow: 5px 5px 10px -5px white;
  transition: 0.4s;
}

.tripCardEventDetailsH4 {
  font-size: 5vw;
  margin: 6% 0;
}

.borderForm {
  margin: 0 13%;
  text-align: center;
}

.sendMessageBtn {
  border: solid transparent 0.5px;
  margin: 2% 0 10% 0;
  padding: 3px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: rgb(0, 191, 255);
}

.sendMessageBtn:hover {
  border: 1px solid white;
  box-shadow: 3px 3px 8px -3px white;
}

*,
::after,
::before {
  box-sizing: content-box;
}

.backLink {
  margin: 2vh 42vw;
}
