@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
  background-color: #25262d;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;
  letter-spacing: 0.6px;
  overflow: auto;
  box-sizing: content-box;
}

.App img {
  width: 35vw;
  margin: 30px 0 0 0;
}
