@import url("http://fonts.googleapis.com/css?family=Open+Sans");

.App {
  background-color: #25262d;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 50;
  letter-spacing: 0.6px;
  overflow: auto;
  box-sizing: content-box;
}

.logo {
  width: 30vw;
  margin: 20px 0 0 35%;
}

.svg {
  width: 100vw;
  height: auto;
  margin: 0;
}
