@import url("http://fonts.googleapis.com/css?family=Open+Sans");

.App {
  background-color: #17252a;
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.6px;
  overflow-x: hidden;
}

.logoSection {
  display: flex;
  justify-content: center;
}

.svg {
  width: 100vw;
  height: auto;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    width: 70vw;
    margin: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    width: 30vw;
    margin: 0;
  }
}
